li{
    margin-left: 120px;
}

h2{
    color: rgb(252, 183, 46);
    text-align: center;
    }

h3{
    color: rgb(65, 103, 138);
    text-align: center;
    font-size: 30px;
}

h4{
    color: rgb(252, 183, 46);
    font-size: 20px;
}

.centrado{
    text-align: center;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
}

table, th, td {
    border: 2px solid rgb(252, 183, 46);
    background-color: rgb(65, 103, 138);
    padding: 1px;
  }

 ol {
    margin-left: 120px;
 }

 .gif{
     margin-top: 5.5px;
     margin-left: 45px;
 }
 
 .imágenes{
    border-radius: 10%;
    display: block;
    margin-left: 120px;
    height: 200px; 
    width: 200px;
 }

.título{
    color: rgb(30, 171, 160);
    font-size: 25px;
    margin-left: 110px;
    font-weight:bold;
}

.título2 {
    color: rgb(252, 183, 46);
    font-size: 25px;
    margin-left: 80px;
    font-weight:bold;
}

.perfil{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 220px; 
    width: 220px;
}

#parrafo-especial {
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(65, 103, 138);
    text-align: center;
    margin-left: 110px;
    margin-right: 120px;  
}    

.info{
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(65, 103, 138);
    margin-left: 120px;
    margin-right: 120px;
}

body{
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;    
}

footer{
    color: rgb(65, 103, 138);
    font-style: italic;
    font-size: large;
}
